.font-comfortaa {
  font-family: 'Comfortaa', cursive;
}

.bg-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(0.6);
}

.img-footer {
  width: 40px;
  height: 40px;
}

.fs-7 {
  font-size: 12px;
}