.font-comfortaa {
  font-family: 'Comfortaa', cursive;
}

body {
  overflow-x: hidden;
}

.bg-image {
  width: 100vw;
  height: 90vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(0.6);
}

.navbar {
  transition: all 0.5s;
}

.navbar-scrolled {
  background-color: #0880EC;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.main-info {
  margin-bottom: 100px;
}

.marginButton {
  margin-top: 310px;

}

.img-footer {
  width: 40px;
  height: 40px;
}

.fs-7 {
  font-size: 12px;
}

.typing-effect {
  margin: 50px auto;
  width: max-content;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 1rem;
  animation: typing 3s steps(16), effect .5s step-end infinite alternate;
}

@keyframes typing {
  from {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes effect {
  50% {
    border-color: transparent;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .marginForm {
    margin-top: 450px;
  }
}

@media all and (min-width: 992px) {
  .marginForm {
    margin-top: 500px;
    margin-bottom: 100px;
  }
}
